useDynLib( int64, .registration = TRUE )

import( methods )

exportClasses( "int64", "uint64", "binary" )

exportMethods( 
    show, length, "[", Arith, Compare, Summary, Math, 
    as.character, format, 
    
    as.data.frame, binary, unique, sort
)
export( 
    int64, uint64, as.int64, as.uint64, numeric_limits
)
S3method( format, int64 )
S3method( format, uint64 )


